* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background: #f7f7f7;
}
.wrapper {
  width: 100%;
  max-width: 1010px;
  height: 100%;
  margin: 0 auto;
  padding: 13px 36px 17px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .ant-spin {
  margin-top: 50px;
}

@media screen and (max-width: 640px) {
  .wrapper {
    padding: 10px 16px 20px;
  }
}
